In [1]:
import pandas as pd
import os

In [2]:
#definir diretório
os.chdir(f'C:\PAC')

In [3]:
#carregar dataset
books_data = pd.read_csv('sample_booksdata.csv')

In [4]:
books_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66476 entries, 0 to 66475
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        66468 non-null  object
 1   description  66450 non-null  object
 2   authors      66476 non-null  object
 3   image        64238 non-null  object
 4   categories   66476 non-null  object
 5   title_raw    66476 non-null  object
dtypes: object(6)
memory usage: 3.0+ MB

In [5]:
category_counts = books_data['categories'].value_counts()
print(category_counts)

categories
fiction                    11210
history                     4408
religion                    4338
juvenile fiction            3218
biography autobiography     3024
                           ...
veterinary medicine            1
vampires                       1
unicorns                       1
women millionaires             1
women authors english          1
Name: count, Length: 1821, dtype: int64

In [6]:
top_100_categories = category_counts.head(100)
print(top_100_categories)

categories
fiction                    11210
history                     4408
religion                    4338
juvenile fiction            3218
biography autobiography     3024
                           ...
birds                         16
france                        16
business                      15
authors english               15
childrens literature          15
Name: count, Length: 100, dtype: int64

In [7]:
top_100_categories.to_csv('top_100_categories.csv')

In [8]:
top_100_categories_df = top_100_categories.reset_index()
filtered_books_data = books_data[books_data['categories'].isin(top_100_categories_df['categories'])]

In [9]:
filtered_books_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 62613 entries, 11 to 66474
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        62605 non-null  object
 1   description  62587 non-null  object
 2   authors      62613 non-null  object
 3   image        61218 non-null  object
 4   categories   62613 non-null  object
 5   title_raw    62613 non-null  object
dtypes: object(6)
memory usage: 3.3+ MB

In [10]:
# Importar ficheiro com Thesaurus relacionando categorias e gêneros
thesaurus_genres = pd.read_csv('thesaurus_genres.csv', sep=';')

In [11]:
thesaurus_genres.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   categories  100 non-null    object
 1   count       100 non-null    object
dtypes: object(2)
memory usage: 1.7+ KB

In [12]:
# Atribuir genre a cada um dos livros, com base nas categorias
books_with_genres = filtered_books_data.merge(thesaurus_genres, on='categories', how='left')
books_with_genres['genres'] = books_with_genres['count']

In [13]:
print(books_with_genres.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62613 entries, 0 to 62612
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        62605 non-null  object
 1   description  62587 non-null  object
 2   authors      62613 non-null  object
 3   image        61218 non-null  object
 4   categories   62613 non-null  object
 5   title_raw    62613 non-null  object
 6   count        62613 non-null  object
 7   genres       62613 non-null  object
dtypes: object(8)
memory usage: 3.8+ MB
None

In [28]:
books_with_genres['genres'].unique()

array(['Children and Education', 'Hobbies and Leisure',
       'Arts and Culture', 'Non-Fiction', 'Fiction',
       'History and Society', 'Literature and Poetry',
       'Lifestyle and Relationships', 'Comics and Graphic Novels',
       'Science Fiction and Fantasy'], dtype=object)

In [14]:
# Verificar ficheiro resultante
books_with_genres.head(5)

,Title,description,authors,image,categories,title_raw,count,genres
0,the red witch,romance dutch east indies takes place,['Garland Roark'],httpbooksgooglecombookscontentidahtvqeacaajpri...,childrens literature,The Red Witch,Children and Education,Children and Education
1,childrens book illustration design ii,using stepbystep sketches instructions book gu...,['Martin Salisbury'],httpbooksgooglecombookscontentidyxnbeaaaqbajpr...,childrens literature,Children's Book Illustration & Design II,Children and Education,Children and Education
2,elsie dinsmore collection,pious young girl difficulty establishing relat...,['Martha Finley'],httpbooksgooglecombookscontentiducfaqaaiaajpri...,childrens literature,Elsie Dinsmore Collection,Children and Education,Children and Education
3,parade of stories child horizons,selection stories folk fairy tales poems autho...,"['Esther M. Bjoland', 'Anne Neigoff']",httpbooksgooglecombookscontentidwpcyhzbtocprin...,childrens literature,Parade of Stories (Child Horizons),Children and Education,Children and Education
4,rommel drives on deep into egypt,rommel drives deep egypt richard brautigans ei...,['Richard Brautigan'],httpbooksgooglecombookscontentidkaaaaamaajprin...,childrens literature,Rommel Drives on Deep into Egypt,Children and Education,Children and Education

In [15]:
# Dropar colunas irrelevantes
books_with_genres.drop(columns=['count'], inplace=True)

In [16]:
# Salvar DF para um CSV
books_with_genres.to_csv('books_with_genres.csv', index=False)